
<div class="container">
  <h1><span class="hack-text"></span>WELCOME TO TBH - To Be Honest <span class="hack-text"></span></h1>

  <div class="stats-bar">
    <div class="stat">Shhh... Don’t Tell Hack The Box That Competitors Are Coming. 💀</div>
  </div>
  <p class="hack-text-2">
    This platform is  a small-scale cybersecurity training environment built by two friends looking to hone their skills in full CI/CD pipeline management and dynamic, isolated environment deployments. </p>
<p class="hack-text-2">
  We are building TBH as a learning tool for ourselves and potentially for anyone interested in seeing how a cybersecurity training environment can be set up from scratch. It's not meant to be public or commercial—it's just us learning by doing and having some fun along the way.
</p>
  <img src="eZ6hux.gif" />
</div>

