<div class="scoreboard-container">
  <div class="header">
    <h1><span class="hack-text">[</span> CTF Scoreboard <span class="hack-text">]</span></h1>
    <div class="stats-bar">
      <div class="stat">Players: {{players.length}}</div>
      <div class="stat">Total Points: {{totalPoints}}</div>
      <div class="stat">Last Update: {{lastUpdate}}</div>
    </div>
  </div>

  <div class="scoreboard-table">
    <div class="table-header">
      <div class="col-rank">#</div>
      <div class="col-team">Player</div>
      <div class="col-country">Country</div>
      <div class="col-points">Points</div>
      <div class="col-solved">Solved</div>
      <div class="col-last">Last Solve</div>
    </div>

    <div *ngFor="let player of players"
         class="table-row"
         [class.top-three]="player.rank <= 3">
      <div class="col-rank">
        <span class="hack-text">[</span>{{player.rank}}<span class="hack-text">]</span>
      </div>
      <div class="col-team">
        <span class="hack-text">&gt;</span> {{player.name}}
      </div>
      <div class="col-country">{{player.country}}</div>
      <div class="col-points">{{player.points}}</div>
      <div class="col-solved">{{player.solvedChallenges}}</div>
      <div class="col-last">{{player.lastSolve}}</div>
    </div>
  </div>
</div>
